.Footer {
  width: 100%;
  min-height: 40px;
  padding: 20px 0px;
  border-top: 1px solid rgb(211, 211, 211);
}
.Footer .footer-ul {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px;
}

.Footer .footer-ul li > a {
  font-weight: bold;
}
