.Footer {
  width: 100%;
  min-height: 40px;
  padding: 40px 0px;
  background-color: #87ceeb;
}
.Footer .footer-ul {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px;
}

.Footer .footer-ul li > a {
  color: white;
  font-weight: bold;
}
