.Header-container .nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 20px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.Header-container .nav .span-container > a {
  color: black;
}

.Header-container .nav .span-container {
  display: flex;
  gap: 10px;
}

.Header-container .nav .span-container button {
  font-weight: normal;
  color: black;
}
