.Header {
  width: 100%;
  min-height: 40px;
  height: 118px;
  padding: 0px 40px 20px;
  background-color: #87ceeb;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Header .header-title {
  display: flex;
  align-items: center;
}

.Header .header-title > a,
.Header .span-container > a {
  color: white;
}

.Header .span-container {
  display: flex;
  gap: 10px;
}
