.PostList {
  width: 100%;
}
.postlist-container {
  width: 500px;
  margin: 0 auto;
}

.PostList .categories-container > ul {
  display: flex;
  gap: 10px;
}

.PostList .categories-container > ul > li > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 10px 10px 0;
  color: grey;
}

.PostList .categories-container .active {
  color: #87ceeb;
  font-weight: bold;
  font-size: 16px;
}

.PostList .feed-container {
  padding: 20px 0;
}
